access_key="<ACCESS KEY ID>"
secret_key="<SECRET KEY>"
environment_name="dev"
key_name="<KEY NAME>"
instance_type="t2.micro"
region = "us-east-1"
azs = "us-east-1a,us-east-1c,us-east-1d,us-east-1e"
secret_bucket="ba-ops-data-dev"
tf_state_bucket_prefix="tfstate"
